@import "tailwindcss";
@font-face {
  font-family:font1;
  src: url('/font/font1.woff2');
}
@font-face {
  font-family:font2;
  src: url('/font/font2.woff2');
}
@font-face {
  font-family:font3;
  src: url('/font/font3.woff2');
}
@font-face {
  font-family:font4;
  src: url('/font/font4.woff2');
}

body {
  font-family: Helvetica;
}

.font1{
  font-family:font1;
}
.font2{
  font-family:font2;
}
.font3{
  font-family:font3;
}
.font4{
  font-family:font4;
}

::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}